/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling */
html,body {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

h1,h2,h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
}

.btn-light {
    background: #fff;
    color: #333;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}

.bg-dark {
    background: #333;
}

.box {
    width: 33.33%;
    float: left;
    text-align: center;
    padding:50px;
    color: #fff;
}

.box i {
    margin-bottom: 10px;
}

.bg-light {
    background: #fff; 
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

/* Padding */
.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* Navbar */
#navbar {
    background: #333333;
    color: #ffffff;
    overflow: auto;
}

#navbar a {
    color: #ffffff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background: #444;
    color: #f7c08a;
}

/* Showcase */

#showcase {
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}


#home-info {
    height: 450px;
}

#home-info .info-content {
    text-align: center;
    float:right;
    width: 50%;
    padding: 50px 30px;
    color: #fff;
    height: 100%;
}

#home-info .info-img {
    background: url("../img/photo-1.jpg") no-repeat center center/cover;
    float:left;
    width: 50%;
    min-height: 100%;
}

.clear {
    clear: both;
}

.l-heading {
    font-size: 40px;
    line-height: 1.2;
}

/* About page */

#about-info .info-left {
    float: left;
    width:50%;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}


/* Testimonials */
#about-testimonials {
    height: 100%;
    background: url("../img/test-bg.jpg") no-repeat center center/cover;
    padding-top: 100px;
}

#about-testimonials h1 {
    color: #fff;    
    text-align: center;
    padding-bottom: 40px;
    
}

#about-testimonials .testimonial {
    margin-bottom: 40px;
    padding: 20px;
    background: #f7c08a;
    border-radius: 10px;
    opacity: 0.9;
}

#about-testimonials .testimonial img {
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

/* contact form */
.form-group {
    margin-bottom: 20px;

}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 5px;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

/* Footer */
#main-footer {
    background: #333;
    text-align: center;
    color: #fff;
    padding: 20px;
}
